In [ ]:
# 1-What are data structure and why are they important.?
  Data structure are the building blocks for oranizing and managing data in computer program,playing a vital role in efficiency ,performance and code clarity.
  Data structure is a storage that is used to store and organize data.
  A data structure is not only used for organizing the data.Its also used for processing,retrieving and storing data.
  Data Structure are important for--Code clarity,problem solving,performance ,organization.

In [ ]:
# 2-Explain the difference between mutable and immutable data types with examples.?
# Mutable data type --allow their values to be changed or modified after they are created.EX-Lists,Sets,Dictionaries.
Lists-add,remove,or modify elements in a list after it is created.
Sets-add,remove,or modify elements in a set after it is created.
Dictionaries-add,remove,or modify key-value pairs in a dictionary after it is created.
# Immutable data type-immutable data type do not allow their values to be changed or modified after they are created.Any attempt to modify them will creat a new object in memory
EX-integers,floats,strings,tuples.
strings-cannot be modified after they are created.
tuples-cannot be modified after they are created.
numbers-integer ,floatsand other numerical values are immutable .Once a number is created ,its value cannot be changed.

In [ ]:
# 3- What are the main differences between lists and tuples in Python.?
  lists and tuples are both orderded sequences of items in python,but they differ primarily in their mutability.
  lists are mutable ,uses square brackets[],data that may need to be modified ,s

In [ ]:
# 4- Describe how dictionaries store data.?
# Ans-  A Python dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.

# Example: Here, The data is stored in key:value pairs in dictionaries, which makes it easier to find values.
d={1:"one",2:"two",3:"three"}
print(d[1])
print(d[2])
print(d[3])

one
two
three

In [ ]:
# 5- Why might you use a set instead of a list in Python.
  # In python ,both sets and lists are used to store collections of elements but they have key differences that make them suitable for different use cases.
  # Sets--A set is an unorderded collection of unique elements.Sets are defined using curly brackets{}or the set ()functions.
   # Creating a set
s1 = {1,1,2,3,4,}
s2 =set([4,5,6,7])
print(s1)
print(s2)
   # Lists--A list is an ordered collection of elements.Lists are defined using square brackets[].
   # Creating a list
a=[1,1,2,3,4]
b=list([4,5,6,7])
print(a)
print(b)

{1, 2, 3, 4}
{4, 5, 6, 7}
[1, 1, 2, 3, 4]
[4, 5, 6, 7]

In [ ]:
# 6- What is a string in Python, and how is it different from a list.?
 In Python, a string is an immutable sequence of characters, while a list is a mutable sequence of items, which can be of any data type.
 Strings are typically represented by text within single or double quotes, and they can only contain characters,
 whereas lists can hold various elements like numbers, other lists, or even strings.
 Strings have methods for string manipulation like split(), strip(), and replace().
 Lists have methods for modifying their elements, such as append(), remove(), and pop().

In [ ]:
# 7- How do tuples ensure data integrity in Python.
   A tuple is a collection which is orderded and unchangeable.
   Tuples are immutable to ensure that their contents remain constant throughout their lifecycle,guranteeing data integrity and reliability.

In [ ]:
# 8- What is a hash table, and how does it relate to dictionaries in Python?

In [ ]:
# 9- Can lists contain different data types in Python?

In [ ]:
# 10-Explain why strings are immutable in Python.?

In [ ]:
# 11- What advantages do dictionaries offer over lists for certain tasks.?

In [ ]:
 # 12- Describe a scenario where using a tuple would be preferable over a list.?

In [ ]:
# 13-How do sets handle duplicate values in Python3

In [ ]:
# 14- How does the “in” keyword work differently for lists and dictionaries?

In [ ]:
# 15-Can you modify the elements of a tuple? Explain why or why not.?

In [ ]:
# 16-What is a nested dictionary, and give an example of its use case?

In [ ]:
# 17- Describe the time complexity of accessing elements in a dictionary.?

In [ ]:
# 18- In what situations are lists preferred over dictionaries.?

In [ ]:
# 19- Why are dictionaries considered unordered, and how does that affect data retrieval.?

In [ ]:
# 20- Explain the difference between a list and a dictionary in terms of data retrieval.

***PRACTICAL*** QUESTIONS

In [ ]:
# 1-Write a code to create a string with your name and print it.
my_name="gunjan"
print(my_name)

gunjan

In [ ]:
# 2-  Write a code to find the length of the string "Hello World".
s = "hello world"
print(len(s))

11

In [ ]:
# 3-Write a code to slice the first 3 characters from the string "Python Programming".
string = "python programming"
string[0:3]

'pyt'

In [ ]:
# 4- Write a code to convert the string "hello" to uppercase.
string = "hello"
print(string.upper())

HELLO

In [ ]:
# 5-Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
print(string.replace("apple","orange"))

I like orange

In [ ]:
# 6-P Write a code to create a list with numbers 1 to 5 and print it.
list=[1,2,3,4,5]
print (list)

[1, 2, 3, 4, 5]

In [ ]:
# 7- Write a code to append the number 10 to the list [1, 2, 3, 4].
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
# 8-Write a code to remove the number 3 from the list [1, 2, 3,4].
list=[1,2,3,4]
list.remove(3)
print(list)

[1, 2, 4]

In [ ]:
# 9-Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list1=['a','b','c','d']
print(list1[1])

b

In [ ]:
#  10-Write a code to reverse the list [10, 20, 30, 40]
list1=[10,20,30,40]
list1.reverse()
print(list1)

[40, 30, 20, 10]

In [ ]:
# 11-Write a code to create a tuple with the elements 100,200,300 and print it.
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
# 12-write a code to access the second -to-last elements of the tuple ("red","green","blue","yellow").

In [ ]:
# 13-write a code to find the minimum number in the tuple (10,20,5,15)
tuple1=(10,20,5,15)
print(min(tuple1))

5

In [ ]:
# 14-write a code to find the index of the elements "cat"in the tuple ("dog","cat","rabbit").
item=("dog","Cat","rabbit")
X=item.index("Cat")
print(X)

1

In [ ]:
# 15- Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=("apple","banana","kiwi")
if("kiwi")in fruits:
    print("yes")
else:
    print("no")

yes

In [ ]:
# 16-write to code a create a set with the elements 'a','b','c',and print it.
set={'a','b','c'}
print(set)

{'a', 'c', 'b'}

In [ ]:
# 17-write a code to clear all elements from the set {1,2,3,4,5}.
set={1,2,3,4,5}
set.clear()
print(set)

set()

In [ ]:
# 18-write a code to remove the elements 4 from the set {1,2,3,4}.
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
# 19-write a code to find the unoin of two sets {1,2,3} and {3,4,5}.
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
# 20-write a code to find the intersections of two sets {1,2,3} and {2,3,4}.
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

In [ ]:
# 21-write a code to create a dictionary with the keys "name","age","city"and print it.
dict={"name":"gunjan","age":20,"city":"delhi"}
print(dict)

{'name': 'gunjan', 'age': 20, 'city': 'delhi'}

"

In [ ]:
# 22- Write a code to add a new key-value pair "country": "USA" to the dictionary{"name":"john","age":25}

In [ ]:
# 23- Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
# 24- Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
# 25- Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
# 26-6. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# 27-. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [ ]:
# 28- Write a code to create a list with strings and print the element at the third index.s

In [ ]:
# 29-. Write a code to combine two dictionaries into one and print the result.

In [ ]:
# 30- Write a code to convert a list of strings in to a set.